/* Icons */
@import url("https://cdn.jsdelivr.net/gh/Arlind-dev/jellyfin-icon-metadata@my-instance/shoko-icon.css");
@import url("https://cdn.jsdelivr.net/gh/Arlind-dev/jellyfin-icon-metadata@my-instance/public-icon.css");

/* Theme */
@import url('https://cdn.jsdelivr.net/gh/loof2736/scyfin@latest/CSS/scyfin-theme.css');
@import url('https://cdn.jsdelivr.net/gh/loof2736/scyfin@latest/CSS/disable-static-drawer.css');

/* Hide Favorites tab */
.btnUserRating {
  display: none;
}
button[is="emby-ratingbutton"] {
  display: none;
}
.noHomeButtonHeader button[data-index="1"] {
  display: none;
}
button[data-index="3"] {
  display: none;
}

/* Hide star rating */
div.starRatingContainer {
  display: none;
}

/* Hide similar TV shows and movies */
#similarCollapsible {
  display: none;
}

/* Hide Library card titles (Cards have titles as images) */
#indexPage .section0 .cardText {
  display: none;
}

/* series detailPage alignment */
.layout-desktop .detailPageContent > div:not(.detailPagePrimaryContent) {
    padding-left: 20.4vw !important;
}

.layout-desktop .detailPageWrapperContainer:has(.detailImageContainer .portraitCard) .detailPagePrimaryContent{
  min-height: auto !important;
}

.layout-desktop .detailPageWrapperContainer:has(.detailImageContainer .squareCard) .detailPagePrimaryContent{
  min-height: auto !important;
}

.layout-desktop .detailPageWrapperContainer:has(.detailImageContainer .backdropCard) .detailPagePrimaryContent{
  min-height: auto !important;
}

/* remove homepage home button */
.skinHeader {
  contain: none;
}
.noHomeButtonHeader button[data-index="0"] {
  display: none;
}

.backdropImageFadeIn {
  animation: backdrop-fadein .0s ease-in normal both;
}

#indexPage {
    background-color: #101010;
}

.headerTop {
  padding-left: 3.3%;
}
.headerRight {
  margin-right: 3.3%;
}
